header h1 {
  color: white;
  background-color: #339999;
  text-align: right;
  padding: 10px;
}

.app-container {
  margin: 10px;
}

.control-panel {
  width: 380px;
}

.history-rows .entry {
  height: 100px;
  overflow: hidden;
}

.history-rows > .entry:hover {
  height: 220px;
}

.history-rows > .entry:first-of-type {
  height: 220px;
}

.history-rows > div {
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  background: rgba(0,0,0,.02);
  color: rgba(0,0,0,.3);
}

div.history-rows > div:hover {
  border-color: orange;
  color: black;
}

div.history-rows > div:first-of-type {
  background: white;
  color: black;
}

.btn-primary {
  background-color: #339999;
}

a {
  color: #339999;
}

.btn-link {
  color: #339999;
}